$red: "#FEFEFE"
$green: "#GTGTGT"

body
	display: flex
	min-width: 100vw
	width: 300vw
	justify-content: center
	margin: 0
	overflow: scroll
	a
		color: inherit
.mother_container
	position: relative
	width: 100%
	overflow-x: scroll
	display: flex
	flex-direction: column
	align-items: center

/* header start */

// .onBlack 
// 	.background
// 		background: #FEFEFE
// 	&:hover a
// 		color: #222222 !important
	
// .onWhite 
// 	.background
// 		background: #222222 !important
// 	&:hover a
// 		color: #FEFEFE !important

.header
	left		   : 0%
	top            : 0
	position       : fixed
	width          : 100%
	z-index        : 10
	display        : none
	flex-direction : row
	padding-top: 1em
	justify-content: space-between
	// &:hover .background
	// 	top: 0%
	.onWhite a
		font-family: raleway_regular !important
		color: #222222
	.onBlack a
		color: #FEFEFE
		&:after
			background: white !important
	.background
		position: absolute
		height: 100%
		width: 100%
		z-index: -1
		left: 0
		transition: .3s
		transition-timing-function: ease-out
		top: -100%
	.name
		margin-left     : 5vw
		padding    : 2.5em
		font-family: raleway_regular
		font-size  : raleway_regular
		img
			height: 1.2em
	  
	.nav
		//border: 1px solid black
		width: 28%
		display   : flex
		align-self: center
	
	.link
		position: relative
		z-index    : 2
		padding    : 2em 1.5em
		font-family: raleway_regular
		a

			font-family: raleway
			font-weight: 300
			text-decoration: none
			position: relative
		
		a:after
			content: ''
			background: black
			width: 0%
			height: 1px
			position: absolute
			top: 100%
			left: 0
			transition: .3s
		
		a:hover:after
			width: 100%




.landing-container
	position: relative
	display: grid
	height: 100vh
	width: 100vw
	grid-template-columns: 7vw 35em 1fr
	grid-template-rows: repeat(12, 1fr)
	.background
		position: absolute
		z-index: -1
		width: 100%
		height: 100%
		background: black
	.welcome-text
		width: 100%
		//border: 1px solid white
		color: white
		//margin-left: 2em
		margin-top: 5em
		grid-column: 2/3
		grid-row: 6/7
		line-height: 3.5em
		.title
			font-family: raleway
			font-weight: 700
			font-size: 4em
		.subtitle
			font-family: raleway
			font-weight: 500
			font-size: 1.8em
	.img-container
		grid-column: 3/4
		grid-row: 1/13
		display: grid
		grid-template-rows: repeat(8, calc(100%/8))
		grid-template-columns: repeat(6, calc(100%/6))
		img
			//position: absolute
			&:nth-child(1)
				padding: 4em
				grid-column: 2/3
				grid-row: 2/7
				z-index: 2
				height: 60vh
			&:nth-child(2)
				height: 40vh
				grid-column: 4/7
				grid-row: 5/7
				z-index: 1

.about-container
	height: 100vh
	width: 100vw
	position: relative
	display: flex
	justify-content: center
	align-items: center
	// .animation-container
	// 	width: 100%
	// 	height: 100%
	// 	position: absolute
	// 	z-index: -1
	.title
		font-family: raleway
		font-weight: 800
		font-size: 4vw
		width: 20vw
		padding: 2vw 0em
		text-align: right
	.partition
		margin: 0 3em
		width: .5em
		height: 19em
		background: black
	.story
		width: 45vw
		display: flex
		justify-content: center
		p	
			box-sizing: border-box
			font-family: raleway_medium
			font-weight: 400
			font-size: 1.3vw
			width: 100%
			word-wrap: normal
			line-height: 1.5em
			text-align: left
			//padding: 0em 1em
			//background: white
			// span
			// 	display: inline-block
			// 	background: white
			// 	//padding: 0px 20px

$headline-height: 25vh
.skills-container
	width: 100%
	position: relative
	.skills-headline
		box-sizing: content-box
		left: 50%
		transform: translateX(-50%)
		font-family: raleway_semibold
		font-weight: 800
		text-align: center
		font-size: 3.7vw
		padding-top: 2vw
		min-height: $headline-height
		max-height: $headline-height
		position: relative
		// background: green
		// background: white
	.headline
		font-size: 1.5vw
		cursor: pointer
	.a-coder
		.headline
			box-sizing: border-box
			font-family: raleway_semibold
			position: absolute
			width: 50vw
			height: 65vh
			padding-top: 10vh
			padding-left: 4vw
			transition: .2s
			// border: 1px solid black
			transform: translate(0%, 0vw)
			&:hover
				transform: translate(-0%, -1.3vh)
			::after
				pointer-events: none
				box-sizing: border-box
				// border-right: .4em solid #FCEE21
				z-index: -2
				position: absolute
				content: ''
				left: -100vw
				width: 150vw
				top: 30vh
				height: 1vh
				transform-origin: 100% 100%
				transform: skew(0deg,-15deg)
				border-bottom: 2vh solid black
	.a-robot
		.headline
			box-sizing: border-box
			font-family: raleway_semibold
			position: absolute
			width: 50vw
			height: 65vh
			margin-left: 50vw
			padding-top: 10vh
			padding-left: 20vw
			transition: .2s
			transform: translate(0%, 0vw)
			&:hover
				transform: translate(-0%, -1.3vh)
			::after
				box-sizing: border-box
				// border-right: .4em solid #FCEE21
				z-index: -2
				position: absolute
				content: ''
				// top: 3vw
				left: 0vw
				width: 150vw
				top: 30vh
				height: 1vh
				transform-origin: 0 0
				transform: skew(0deg,15deg)
				border-bottom: 2vh solid black
	.others
		.headline
			box-sizing: border-box
			font-family: raleway_semibold
			position: absolute
			top: 54.5vh
			padding-top: 5vh
			left: 50vw
			transition: .2s
			transform-origin: 0% 0%
			transform: translate(-50%, 0%)
			&:hover
				transform: translate(-50%, 1.3vh)
		::after
			// display: none
			z-index: -1
			position: absolute
			content: ''
			// top: 0
			margin-top: -5vh
			left: 50%
			background: #FCEE21
			width: 300vw
			height: 300vw
			transform-origin: 0% 0%
			transform: rotate(45deg) skew(-25deg, -25deg)
	.container
		// display: none
		// border: 1px solid black
		// background: green
		position: absolute
		width: 50vw
		// height: 10vh
		// border: 1px solid black
		position: absolute
		top: $headline-height + 10vh
		left: -70vw
		// padding-top: 2vh
		.child-container
			margin: 6vh 3vw
			>.title
				font-size: 2em
				font-family: raleway_bold
			.content
				margin-top: 2em
				display: flex
				font-family: raleway_regular
				.project
					margin-right: 2em
					max-width: 12em
					.title
						padding-bottom: .3em
						font-family: raleway_semibold
						font-size: 1.5em
					.role
						padding-bottom: .3em
						font-family: raleway_bold
				.skill, .interest
					width: 8em
					height: 2em
					// padding-bottom: 1em
					// padding-right: 2em
					font-size: 1.3em
					font-family: raleway_semibold
				.interest
					width: 12em
		.skills > .content, .interests > .content
			display: flex
			flex-wrap: wrap
			// border: 1px solid black
			max-width: 40vw